* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto";
}
:root {
  --hover-color: #4c4f54;
  --bg-color: #d1e2f7;
  --button-color: #3ab8a3;
  --black-color: #00000011;
}

span {
  color: rgba(0, 181, 148, 255);
}

h1 {
  margin-top: 30px;
  margin-bottom: 35px;
  font-weight: 700px;
  font-size: 350%;
}

.wrapper {
  margin: auto;
  width: 1180;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.main-container {
  text-align: left;
  padding-top: 150px;
  padding-right: 50px;
  display: flex;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2.5rem 2%;
  padding-left: 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: left;
  z-index: 100;
}

.header h2 {
  font-weight: 550px;
  font-size: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: 200;
}

nav ul li a:hover {
  color: #3ab8a3;
}

.text-container {
  justify-content: center;
  background-color: var(--bg-color);
  display: flex;
  width: 450px;
  height: 450px;
  margin-top: 200px;
  margin-left: 30px;
  border-radius: 5px;
}

.text {
  text-align: center;
  position: relative;
  top: 20px;
  width: 400px;
  height: 400px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 15px;
  line-height: 2;
}

.text h1 {
  margin-top: -10px;
}
.text p {
  font-size: 15.5px;
  margin-top: -40px;
}

.btn {
  position: absolute;
  width: 200px;
  height: 45px;
  background-color: var(--button-color);
  color: var(--bg-color);
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: -100px;
}

.btn a {
  text-decoration: none;
  color: var(--bg-color);
}

.header h2 {
  font-weight: 900;
}

.image img {
  margin-top: 30px;
  height: 470px;
  width: 450px;
}
@media (max-width: 1000px) {
  .image img {
    display: none;
  }
}

@media (max-width: 768px) {
  .header h2 {
    font-size: 2rem;
  }

  nav ul {
    align-items: center;
  }
}

@media (max-width: 480px) {
  .header h2 {
    font-size: 1.5rem;

    nav ul li a {
      font-size: 0.8rem;
    }

    .btn {
      font-size: 0.8rem;
    }
  }
}
