* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto";
}

:root {
  --hover-color: #4c4f54;
  --bg-color: #1a1b1b;
  --button-color: #3ab8a3;
  --white-color: #ffff;
}

body {
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 75vh;
}

span {
  color: var(--button-color);
}
.logo {
  margin-top: -200px;
  margin-left: -130px;
}
h1 {
  padding-top: 200px;
  padding-bottom: 40px;
  font-weight: 700px;
  font-size: 50px;
  padding-left: 130px;
}

.input-box {
  padding-top: 15px;
  padding-bottom: 15px;
}

.input-box h3 {
  color: #c2c1c1;
}

.input-box input {
  width: 450px;
  height: 45px;
  border-radius: 5px;
  border-color: var;
  border: none;
  border: 1px solid #c2c1c1;
}

.remember-forgot {
  color: var(--hover-color);
}

.remember-forgot a {
  padding-left: 215px;
  text-decoration: none;
}

.remember-forgot input {
  width: 20px;
  height: 17px;
}

label input {
  height: 17px;
}

.checkbox {
  width: 20px;
  height: 17px;
}

h3 {
  padding-bottom: 10px;
}
.wrapper {
  margin: auto;
  padding: auto;
  width: 1180;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2.5rem 2%;
  padding-left: 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: left;
  z-index: 100;
}

.header img {
  width: 150px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: 200;
}

nav ul li a:hover {
  color: #3ab8a3;
}

.text-container {
  justify-content: center;
  background-color: var(--bg-color);
  display: flex;
  width: 500px;
  height: 560px;
  margin-top: 40px;
  margin-left: 7.5px;
}

.text {
  text-align: center;
  justify-content: center;
  margin-left: 30px;
  font-size: 18px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.btn {
  position: absolute;
  width: 450px;
  height: 45px;
  background-color: var(--button-color);
  color: var(--bg-color);
  border: none;
  border-radius: 5px;
  margin-top: 30px;
}

.btn a {
  text-decoration: none;
  color: var(--white-color);
  font-weight: 500;
}
